*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-image: linear-gradient(90deg, #80ff72, #7ee8fa);
}
.top-nav{
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.65);
}
.top-nav-button-box{
  position: relative;
  float: right;
  display: inline;
  right: 300px;
  top: 30px;
}
.topnavbutton{
  display: inline;
  right: 400px;
}

.btn-primary{
  margin-right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: 600;
  color: white;
  padding: 3px 3px 3px 3px;
  height: 22px;
  width: 5px;
  padding-left: 5px;
  padding-right: 5px;

}
.btn-primary:hover{
  background-color: white;
  border-radius: 5px;
  color: #80ff72;
}
.main-page{
  height: 100%;
  position: relative;
  top: 40px;
  z-index: 1;
  margin-bottom:40px;
  border-radius: 15px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: none;
  
}
.title{
  font-size: 30px;
  position: relative;
  top: 25px;
  left: 50px;
  display: inline-block;
  background-color: white;
  border-radius: 5px ;
  padding: 5px;
}
.bedform{
  position: relative;
  left: 30%;
  display: inline-block;
  top: 30px;
  margin-right: 30px;
}
form{
  display: inline-flex;
}
.bedform label{
  font-size: 30px;
}
#cars{
  margin-left: 50px;
  width: 200px; 
  border-radius: 10px;
}
.submitbutton{
  margin-left: 30px;
  height: 40px;
  width: 100px;
  border: none;
  background-color: aqua;
  border-radius: 10px;
}
.data-container{
  position: relative;
  top: 50px;
}
.first-row th{
  border-right: 5px;
}

table, th, tr, thead, td{
  border: 2px dashed black;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
}
table{
  width: 100%;
  padding: 10px;
}
thead{
  row-gap: 3px;
  height: 70px;
}
.GB, .OB, .ICWV, .ICV{
  width: 60px;
}
.second-row{
  border-top: none;
}
div table tr td{
  font-weight: 400;
}
.aboutPage{
  height: 550px;
  left: 10%;
  width:80%;
  position: relative;
  top: 40px;
  z-index: 1;
  margin-bottom:40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}
.aboutPage h1{
  text-align: center;
  text-decoration: underline;
  margin-bottom:30px;
  font-size: 35px;
}
.aboutPage p{
  margin-left:20px;
  font-size: 20px;
}
.card , .card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-left: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  height: 250px;
  text-align: center;
  padding-right: 10px;
}
.card h2{
  font-size: 28px;
}
.Cardtitle {
  color: grey;
  font-size: 25px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.card, .card2{
  line-height: 60px;
}
.card2{
  position: relative;
  top: 0px;
  left: 200px;
  margin-top: 100px;
}
.card2 a p button{
  margin-right: 100px;
}