{% extends "index.html" %}

{% block body %}
    <div class="main-page">
  <div class="bedform">
    <form action="/hospitals", method="post">
      <label for="cars">District:</label>
      <select name="cars" id="cars">
      </select>
      <br><br>
      <input type="submit" value="Submit" class="submitbutton">
    </form>
  </div>
  </div>
  <div class="data-container">
    <table class="my-table" id="mytable">
      <thead class="row-head">
        <tr class="first-row">
          <th rowspan="2" class="district">District</th>
          <th rowspan="2" class="hospitalname">Hospital Name</th>
          <th colspan="3" class="GB">General Beds</th>
          <th colspan="3" class="OB">Oxygen Beds</th>
          <th colspan="3" class="ICWV">ICU Beds Without ventilator</th>
          <th colspan="3" class="ICV">ICU Beds With ventilator</th>
          <th rowspan="2" class="HHN">Hospital Helpline No</th>
          <th rowspan="2" class="DCRN">Dist. Control Room No.</th>
          <th rowspan="2" class="LU">Last Updation By Hospital</th>
        </tr>
        <tr class="second-row">
          <th class="GB">T</th>
          <th class="GB">O</th>
          <th class="GB">A</th>
          <th class="OB">T</th>
          <th class="OB">O</th>
          <th class="OB">A</th>
          <th class="ICWV">T</th>
          <th class="ICWV">O</th>
          <th class="ICWV">A</th>
          <th class="ICV">T</th>
          <th class="ICV">O</th>
          <th class="ICV">A</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
</div>
  
{% endblock %}
{% block script %}

<script type="text/javascript">
  var district_list = {{ district_list |default('[]') | tojson }};
  if(district_list.length>1){
    district_list = district_list.sort();
    console.log(district_list[1]);
     for(var i=0;i<district_list.length;i++){
      const select = document.getElementById('cars');
      const option = document.createElement('option');
      const text = document.createTextNode(district_list[i]);
      option.setAttribute('value', district_list[i]);
      option.appendChild(text);
      select.appendChild(option);
     }
   }

  var dataset = {{ dataset | default('[]') | tojson }};
  console.log(dataset);
  for(var i=0;i<dataset.length;i++){
    var head = document.getElementById("mytable");
    var row = head.insertRow(2);
    for(var j=0;j<dataset[i].length;j++){
      var cell1 = row.insertCell(j);
      cell1.innerHTML = dataset[i][j];
      console.log(dataset[i][j]);
    }
  }

</script>
{% endblock %}