<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital Info</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top-nav">
    <div class="title">
      <a class="titletext" style="font-family: 'Big Shoulders Stencil Display', cursive;">CodeWarriors</a>
    </div>
    <ul class="top-nav-button-box">
<!--      <li class="topnavbutton"><a href="/" class="btn btn-primary">Home</a></li>-->
      <li class="topnavbutton"><a href="/pharmacies" class="btn btn-primary">Pharmacies</a></li>
      <li class="topnavbutton"><a href="/hospital" class="btn btn-primary">Hospital Info</a></li>
      <li class="topnavbutton"><a href="/about" class="btn btn-primary">About</a></li>



    </ul>
  </div>

  {% block body %}
  {% endblock %}

</body>
{% block script %}

{% endblock %}
</html>
